* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.green-white {
  background-color: green;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1080px;
}

.validation-error {
  color: red;
  font-size: 12px;
  display: none;
}

.delete-button {
  padding: 5px;
  margin-top: 10px;
}

.like {
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  display: inline-block;
  margin-left: 20px;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(20, 154, 250)), to(white));
  background: -o-linear-gradient(rgb(20, 154, 250), white);
  background: linear-gradient(rgb(20, 154, 250), white);
}
header > h1 {
  font-size: 48px;
  color: rgb(236, 238, 240);
}
header > h2 {
  color: rgb(71, 72, 73);
}

main {
  margin-bottom: 40px;
}
main > form {
  text-align: center;
  margin-bottom: 40px;
}
main > form > #comment-username {
  border-color: rgb(20, 154, 250);
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main > form > #comment-username:focus {
  border-color: rgb(250, 166, 20);
}
main > form > #comment-text {
  border-color: rgb(20, 154, 250);
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main > form > #comment-text:focus {
  border-color: rgb(250, 166, 20);
}
main > form > #comment-date {
  border-color: rgb(20, 154, 250);
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main > form > #comment-date:focus {
  border-color: rgb(250, 166, 20);
}
main > form > button {
  margin-top: 20px;
  padding: 7px;
}
main > .main-comments > .main-comments-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(20, 154, 250);
  padding: 30px;
}
main > .main-comments > .main-comments-header > h3 {
  color: rgb(236, 238, 240);
  font-weight: 400;
}
main > .main-comments > .main-comments-items {
  border: 1px solid rgb(20, 154, 250);
}
main > .main-comments > .main-comments-items > .main-comments-item {
  padding: 15px;
  border-bottom: 1px solid rgb(208, 210, 211);
}
main > .main-comments > .main-comments-items > .main-comments-item > .comments-item-username {
  font-weight: 700;
  margin-bottom: 15px;
}
main > .main-comments > .main-comments-items > .main-comments-item > .comments-item-date {
  margin-top: 10px;
  color: rgb(108, 110, 111);
}

footer {
  height: 40px;
  padding-top: 40px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgb(20, 154, 250)));
  background: -o-linear-gradient(white, rgb(20, 154, 250));
  background: linear-gradient(white, rgb(20, 154, 250));
}
footer > p {
  font-size: 10px;
}